/* Write your CSS here */
.list-container {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  width: 300px;
}
.name-date {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0px;
}
.date {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #b5b7c4;
}
.star-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  align-self: flex-start;
}
.star-image {
  height: 25px;
  width: 25px;
}
@media (min-width: 768px) {
  .list-container {
    margin-right: 15px;
  }
  .name {
    font-size: 18px;
  }
}
